# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project Files
/simulator/.idea/workspace.xml
/trace
/simulator/simulator.build
/simulator/simulator.xcodeproj
/simulator/simulator
/simulator/output

# Cmake files
Debug
CMakeScripts
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
